:root {
  --primary-color: #459ec2;
}

.navbar {
  background-color: var(--primary-color);
}

.questionnaire-section {
  margin-top: 5rem;
}

.questionnaire-form {
  background: #ffffff;
  max-width: 850px;
  padding: 50px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

[data-labs-visible="true"] {
  display: flex;
}

[data-labs-visible="false"] {
  display: none;
}

[data-lab-step] tbody:not(.lab-step-visible) {
  display: none;
}

.lab-step-visible {
  display: table-row-group;
}
